.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section {
    /* background-color: lightblue;
    width: 150px;  */
    display: flex;
    align-items: center;
}
.middle-section {
    /* background-color: lightpink; */
    flex: 1; 
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    
}
.right-section {
    /* background-color: lightblue; */
    width: 180px;  
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.youtube-logo {
    height: 20px;
}
.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05) ;
    width: 0;
}
.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}
.search-button {
    height: 40px;
    width: 66px;
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.voice-search-button { 
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);
}
.search-icon {
    height: 25px;
    margin-top: 4px;
}
.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}
.upload-icon {
    height: 24px;
}
.youtube-apps-icon {
    height: 24px;
}
.notifications-icon {
    height: 24px;
}  
.current-user-picture{
    height: 32px;
    border-radius: 16px;
} 


