.box{
    border: 10px solid red;
    height: 500px;
    width: 500px;
    margin: 30px;
    box-sizing: border-box;
    outline: 10px solid blue;
    outline-offset: 5px;
    background-color: black;
}
body{
    
}
p{
    text-shadow: 2px 2px 5px red;
    text-align: center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0);
}