.box{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: green;
    /* margin: 50px auto; */
    /* transform: translate(500px 500px); */    
    /* transform: rotate(45deg); */
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    /* animation-name: move; */
    animation-name: example;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    

}

/* @keyframes move{
    from{
        top: 0;
        left: 0;
    }
    to{
        left: 100%;
    }
} */
/* @keyframes round{
    0%{
        top: 0;
        left: 0;
    }
    40%{
        background-color: red;
    }
    90%{
        background-color: blue;
        left: 100%;
    }
} */
/* @keyframes round{
    0%{
        top: 0;
        left: 0;
    }
    40%{
        background-color: red;
        left: 100%;
    }
    100%{
        background-color: blue;
        top: 100%;
    }
} */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:80%; top:0px;}
  50%  {background-color:blue; left:80%; top:80%;}
  75%  {background-color:green; left:0px; top:70%;}
  100% {background-color:red; left:0px; top:0px;}
}